Hospitalizacija/Service References/ServiceReference1/Service142.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFUnos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFUnos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pacijent">
    <xs:sequence>
      <xs:element minOccurs="0" name="adresa_prebivalista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="datum_rodjenja" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_drzavljanstvo" type="xs:int" />
      <xs:element minOccurs="0" name="id_opstina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_osiguranje" type="xs:int" />
      <xs:element minOccurs="0" name="id_pol" type="xs:int" />
      <xs:element minOccurs="0" name="jmbg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lbo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prezime_ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="starost" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pacijent" nillable="true" type="tns:Pacijent" />
  <xs:complexType name="Bolnickiracun">
    <xs:sequence>
      <xs:element minOccurs="0" name="br_dana_lezanja" type="xs:int" />
      <xs:element minOccurs="0" name="br_istorije_bolesti" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="datum_ispisa" type="xs:dateTime" />
      <xs:element minOccurs="0" name="datum_prijema" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:double" />
      <xs:element minOccurs="0" name="id_bolnica" type="xs:int" />
      <xs:element minOccurs="0" name="id_dijagnoza1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_odeljenje" type="xs:int" />
      <xs:element minOccurs="0" name="id_odeljenje_otpust" type="xs:int" />
      <xs:element minOccurs="0" name="id_operacije1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_osnovni_uzrok_hospitalizacije" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_osnovni_uzrok_smrti" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_uputna_dijagnoza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_vrsta_otpusta" type="xs:int" />
      <xs:element minOccurs="0" name="vreme_unosa" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bolnickiracun" nillable="true" type="tns:Bolnickiracun" />
</xs:schema>