Hospitalizacija/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62752/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62752/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62752/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFUnos" />
      <xsd:import schemaLocation="http://localhost:62752/Service1.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_UnosPacijenta_InputMessage">
    <wsdl:part name="parameters" element="tns:UnosPacijenta" />
  </wsdl:message>
  <wsdl:message name="IService1_UnosPacijenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnosPacijentaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziPacijenta_InputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziPacijenta" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziPacijenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziPacijentaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IzbrisiPacijenta_InputMessage">
    <wsdl:part name="parameters" element="tns:IzbrisiPacijenta" />
  </wsdl:message>
  <wsdl:message name="IService1_IzbrisiPacijenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:IzbrisiPacijentaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IzmeniPacijenta_InputMessage">
    <wsdl:part name="parameters" element="tns:IzmeniPacijenta" />
  </wsdl:message>
  <wsdl:message name="IService1_IzmeniPacijenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:IzmeniPacijentaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="UnosPacijenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UnosPacijenta" message="tns:IService1_UnosPacijenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UnosPacijentaResponse" message="tns:IService1_UnosPacijenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrikaziPacijenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PrikaziPacijenta" message="tns:IService1_PrikaziPacijenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PrikaziPacijentaResponse" message="tns:IService1_PrikaziPacijenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IzbrisiPacijenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IzbrisiPacijenta" message="tns:IService1_IzbrisiPacijenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IzbrisiPacijentaResponse" message="tns:IService1_IzbrisiPacijenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IzmeniPacijenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IzmeniPacijenta" message="tns:IService1_IzmeniPacijenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IzmeniPacijentaResponse" message="tns:IService1_IzmeniPacijenta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UnosPacijenta">
      <soap:operation soapAction="http://tempuri.org/IService1/UnosPacijenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrikaziPacijenta">
      <soap:operation soapAction="http://tempuri.org/IService1/PrikaziPacijenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IzbrisiPacijenta">
      <soap:operation soapAction="http://tempuri.org/IService1/IzbrisiPacijenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IzmeniPacijenta">
      <soap:operation soapAction="http://tempuri.org/IService1/IzmeniPacijenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:62752/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>