Hospitalizacija/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62752/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62752/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62752/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFUnos" />
      <xsd:import schemaLocation="http://localhost:62752/Service1.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_UnosHospitalizacije_InputMessage">
    <wsdl:part name="parameters" element="tns:UnosHospitalizacije" />
  </wsdl:message>
  <wsdl:message name="IService1_UnosHospitalizacije_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnosHospitalizacijeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SviPodaci_InputMessage">
    <wsdl:part name="parameters" element="tns:SviPodaci" />
  </wsdl:message>
  <wsdl:message name="IService1_SviPodaci_OutputMessage">
    <wsdl:part name="parameters" element="tns:SviPodaciResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziBolnice_InputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziBolnice" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziBolnice_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziBolniceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziOdeljenjaPrijem_InputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziOdeljenjaPrijem" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziOdeljenjaPrijem_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziOdeljenjaPrijemResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziOdeljenjaOtpust_InputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziOdeljenjaOtpust" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziOdeljenjaOtpust_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziOdeljenjaOtpustResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziDijagnoze_InputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziDijagnoze" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziDijagnoze_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziDijagnozeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziDijagnozeOsnovna_InputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziDijagnozeOsnovna" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziDijagnozeOsnovna_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziDijagnozeOsnovnaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziDijagnozeUputna_InputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziDijagnozeUputna" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziDijagnozeUputna_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziDijagnozeUputnaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziDijagnozePrateca_InputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziDijagnozePrateca" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziDijagnozePrateca_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziDijagnozePratecaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziDijagnozeSmrt_InputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziDijagnozeSmrt" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziDijagnozeSmrt_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziDijagnozeSmrtResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziOperacije_InputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziOperacije" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziOperacije_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziOperacijeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziDrzave_InputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziDrzave" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziDrzave_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziDrzaveResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziOpstine_InputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziOpstine" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziOpstine_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziOpstineResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziOtpust_InputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziOtpust" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziOtpust_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziOtpustResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziPol_InputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziPol" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziPol_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziPolResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziOsiguranje_InputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziOsiguranje" />
  </wsdl:message>
  <wsdl:message name="IService1_PrikaziOsiguranje_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziOsiguranjeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="UnosHospitalizacije">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UnosHospitalizacije" message="tns:IService1_UnosHospitalizacije_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UnosHospitalizacijeResponse" message="tns:IService1_UnosHospitalizacije_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SviPodaci">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SviPodaci" message="tns:IService1_SviPodaci_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SviPodaciResponse" message="tns:IService1_SviPodaci_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrikaziBolnice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PrikaziBolnice" message="tns:IService1_PrikaziBolnice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PrikaziBolniceResponse" message="tns:IService1_PrikaziBolnice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrikaziOdeljenjaPrijem">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PrikaziOdeljenjaPrijem" message="tns:IService1_PrikaziOdeljenjaPrijem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PrikaziOdeljenjaPrijemResponse" message="tns:IService1_PrikaziOdeljenjaPrijem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrikaziOdeljenjaOtpust">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PrikaziOdeljenjaOtpust" message="tns:IService1_PrikaziOdeljenjaOtpust_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PrikaziOdeljenjaOtpustResponse" message="tns:IService1_PrikaziOdeljenjaOtpust_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrikaziDijagnoze">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PrikaziDijagnoze" message="tns:IService1_PrikaziDijagnoze_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PrikaziDijagnozeResponse" message="tns:IService1_PrikaziDijagnoze_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrikaziDijagnozeOsnovna">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PrikaziDijagnozeOsnovna" message="tns:IService1_PrikaziDijagnozeOsnovna_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PrikaziDijagnozeOsnovnaResponse" message="tns:IService1_PrikaziDijagnozeOsnovna_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrikaziDijagnozeUputna">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PrikaziDijagnozeUputna" message="tns:IService1_PrikaziDijagnozeUputna_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PrikaziDijagnozeUputnaResponse" message="tns:IService1_PrikaziDijagnozeUputna_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrikaziDijagnozePrateca">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PrikaziDijagnozePrateca" message="tns:IService1_PrikaziDijagnozePrateca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PrikaziDijagnozePratecaResponse" message="tns:IService1_PrikaziDijagnozePrateca_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrikaziDijagnozeSmrt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PrikaziDijagnozeSmrt" message="tns:IService1_PrikaziDijagnozeSmrt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PrikaziDijagnozeSmrtResponse" message="tns:IService1_PrikaziDijagnozeSmrt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrikaziOperacije">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PrikaziOperacije" message="tns:IService1_PrikaziOperacije_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PrikaziOperacijeResponse" message="tns:IService1_PrikaziOperacije_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrikaziDrzave">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PrikaziDrzave" message="tns:IService1_PrikaziDrzave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PrikaziDrzaveResponse" message="tns:IService1_PrikaziDrzave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrikaziOpstine">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PrikaziOpstine" message="tns:IService1_PrikaziOpstine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PrikaziOpstineResponse" message="tns:IService1_PrikaziOpstine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrikaziOtpust">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PrikaziOtpust" message="tns:IService1_PrikaziOtpust_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PrikaziOtpustResponse" message="tns:IService1_PrikaziOtpust_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrikaziPol">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PrikaziPol" message="tns:IService1_PrikaziPol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PrikaziPolResponse" message="tns:IService1_PrikaziPol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrikaziOsiguranje">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PrikaziOsiguranje" message="tns:IService1_PrikaziOsiguranje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PrikaziOsiguranjeResponse" message="tns:IService1_PrikaziOsiguranje_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UnosHospitalizacije">
      <soap:operation soapAction="http://tempuri.org/IService1/UnosHospitalizacije" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SviPodaci">
      <soap:operation soapAction="http://tempuri.org/IService1/SviPodaci" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrikaziBolnice">
      <soap:operation soapAction="http://tempuri.org/IService1/PrikaziBolnice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrikaziOdeljenjaPrijem">
      <soap:operation soapAction="http://tempuri.org/IService1/PrikaziOdeljenjaPrijem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrikaziOdeljenjaOtpust">
      <soap:operation soapAction="http://tempuri.org/IService1/PrikaziOdeljenjaOtpust" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrikaziDijagnoze">
      <soap:operation soapAction="http://tempuri.org/IService1/PrikaziDijagnoze" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrikaziDijagnozeOsnovna">
      <soap:operation soapAction="http://tempuri.org/IService1/PrikaziDijagnozeOsnovna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrikaziDijagnozeUputna">
      <soap:operation soapAction="http://tempuri.org/IService1/PrikaziDijagnozeUputna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrikaziDijagnozePrateca">
      <soap:operation soapAction="http://tempuri.org/IService1/PrikaziDijagnozePrateca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrikaziDijagnozeSmrt">
      <soap:operation soapAction="http://tempuri.org/IService1/PrikaziDijagnozeSmrt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrikaziOperacije">
      <soap:operation soapAction="http://tempuri.org/IService1/PrikaziOperacije" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrikaziDrzave">
      <soap:operation soapAction="http://tempuri.org/IService1/PrikaziDrzave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrikaziOpstine">
      <soap:operation soapAction="http://tempuri.org/IService1/PrikaziOpstine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrikaziOtpust">
      <soap:operation soapAction="http://tempuri.org/IService1/PrikaziOtpust" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrikaziPol">
      <soap:operation soapAction="http://tempuri.org/IService1/PrikaziPol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrikaziOsiguranje">
      <soap:operation soapAction="http://tempuri.org/IService1/PrikaziOsiguranje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:62752/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>