Hospitalizacija/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62752/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFUnos" />
  <xs:element name="UnosPacijenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFUnos" minOccurs="0" name="pacijentInfo" nillable="true" type="q1:Pacijent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnosPacijentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnosPacijentaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrikaziPacijenta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrikaziPacijentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrikaziPacijentaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IzbrisiPacijenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFUnos" minOccurs="0" name="pacijentInfo" nillable="true" type="q2:Pacijent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IzbrisiPacijentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IzbrisiPacijentaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IzmeniPacijenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFUnos" minOccurs="0" name="pacijentInfo" nillable="true" type="q3:Pacijent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IzmeniPacijentaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>